<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dynamite-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dynamite-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{33,1},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dynamite-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{129,1},{28,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dynamite-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{28,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{159,1},{28,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dynamite-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{65,1},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dynamite-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{97,1},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dynamite.png</string>
            <key>size</key>
            <string>{188,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:884c6e1ee816b0f6e6f39ae9ab0a5ca6:c535b5f0e93ed895a5a2e6480b23dce6:813a4c23974cddd7f0bd16cba813f62a$</string>
            <key>textureFileName</key>
            <string>dynamite.png</string>
        </dict>
    </dict>
</plist>
