<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goblin_House.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{116,148}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goblin_House_Destroyed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{151,1},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>house.png</string>
            <key>size</key>
            <string>{252,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3166170f323ca228a637a1ae013e6ee:1da76eecfc4760a176b5368342f10802:fa141112fc99b3e6d519f5b2b922e93a$</string>
            <key>textureFileName</key>
            <string>house.png</string>
        </dict>
    </dict>
</plist>
