<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Banner_Connection_Down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{118,146}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{157,257},{118,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Banner_Connection_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-12}</string>
                <key>spriteSize</key>
                <string>{146,126}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{195,1},{146,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Banner_Connection_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-13}</string>
                <key>spriteSize</key>
                <string>{146,126}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{195,129},{146,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Banner_Connection_Up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{118,154}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,195},{118,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Banner_Horizontal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{277,257},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Banner_Vertical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,134}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,315},{122,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carved_3Slides.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,64}</string>
                <key>spriteSourceSize</key>
                <string>{192,64}</string>
                <key>textureRect</key>
                <string>{{343,1},{188,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carved_9Slides.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carved_Regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{343,191},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>banner.png</string>
            <key>size</key>
            <string>{408,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9afb36387f547a19dab609dfbd52078:0329e87efba37995025d40f3889c31e7:468a889166313e164748aa683a0b056a$</string>
            <key>textureFileName</key>
            <string>banner.png</string>
        </dict>
    </dict>
</plist>
