<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ribbon_Blue_3Slides.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{188,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ribbon_Blue_Connection_Down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{399,1},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ribbon_Blue_Connection_Down_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{453,1},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ribbon_Blue_Connection_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{191,1},{62,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ribbon_Blue_Connection_Left_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{243,1},{62,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ribbon_Blue_Connection_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{295,1},{62,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ribbon_Blue_Connection_Right_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{347,1},{62,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ribbon_Blue_Connection_Up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{507,1},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ribbon_Blue_Connection_Up_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{561,1},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ribbon_blue.png</string>
            <key>size</key>
            <string>{614,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c5f8ea040130233d31e959982c52482:72541c908708f3c89dc7b1a4840b9b39:9ff6353ef473843ee5104c6ff075e2f0$</string>
            <key>textureFileName</key>
            <string>ribbon_blue.png</string>
        </dict>
    </dict>
</plist>
