<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TNT_Red-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{83,68}</string>
                <key>textureRect</key>
                <string>{{79,69},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{3,3}</string>
                <key>textureRect</key>
                <string>{{71,98},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,60}</string>
                <key>spriteSourceSize</key>
                <string>{83,60}</string>
                <key>textureRect</key>
                <string>{{167,1},{83,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1,330},{80,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{71,84},{3,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{82,67}</string>
                <key>textureRect</key>
                <string>{{1,163},{82,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{67,344},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,5}</string>
                <key>spriteSourceSize</key>
                <string>{2,5}</string>
                <key>textureRect</key>
                <string>{{71,94},{2,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{152,258},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,4}</string>
                <key>spriteSourceSize</key>
                <string>{3,4}</string>
                <key>textureRect</key>
                <string>{{71,89},{3,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,60}</string>
                <key>spriteSourceSize</key>
                <string>{75,60}</string>
                <key>textureRect</key>
                <string>{{1,412},{75,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{83,68}</string>
                <key>textureRect</key>
                <string>{{1,78},{83,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,63}</string>
                <key>spriteSourceSize</key>
                <string>{74,63}</string>
                <key>textureRect</key>
                <string>{{67,406},{74,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,68}</string>
                <key>spriteSourceSize</key>
                <string>{73,68}</string>
                <key>textureRect</key>
                <string>{{149,332},{73,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{1,247},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{66,72}</string>
                <key>textureRect</key>
                <string>{{149,402},{66,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{83,68}</string>
                <key>textureRect</key>
                <string>{{71,139},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{79,1},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,65}</string>
                <key>spriteSourceSize</key>
                <string>{86,65}</string>
                <key>textureRect</key>
                <string>{{164,86},{86,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,66}</string>
                <key>textureRect</key>
                <string>{{156,174},{82,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TNT_Red-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{71,78},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{67,278},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TNT_Red-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,67}</string>
                <key>spriteSourceSize</key>
                <string>{80,67}</string>
                <key>textureRect</key>
                <string>{{70,209},{80,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tnt.png</string>
            <key>size</key>
            <string>{230,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d1a56325f3c0ac83e44c8d87830ab10:08aa467b280039012513a6c5697d8199:1f873e2214f4bebb42eecc6075d1bfb3$</string>
            <key>textureFileName</key>
            <string>tnt.png</string>
        </dict>
    </dict>
</plist>
