<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>House_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>House_Construction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{1,609},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>House_Destroyed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{1,707},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>House_Purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{1,153},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>House_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{1,305},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>House_Yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{1,457},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>house.png</string>
            <key>size</key>
            <string>{112,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33069f0e712412b33e71e60646a5631a:f0fcd5fb856dc6001fc85ee6b07cc8ed:fa141112fc99b3e6d519f5b2b922e93a$</string>
            <key>textureFileName</key>
            <string>house.png</string>
        </dict>
    </dict>
</plist>
