<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{52,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,189},{52,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Button_Blue_3Slides.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{180,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,64}</string>
                <key>textureRect</key>
                <string>{{367,1},{180,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Button_Blue_3Slides_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{184,54}</string>
                <key>spriteSourceSize</key>
                <string>{192,64}</string>
                <key>textureRect</key>
                <string>{{183,187},{184,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Blue_9Slides.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{180,186}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Blue_9Slides_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{184,182}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{183,1},{184,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Button_Blue_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{369,183},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button_blue.png</string>
            <key>size</key>
            <string>{426,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a76baf7a85ea002bde390f84336091f:32ba0d00d8b928de2174b844f6f22e96:457444991a6951a2551b8dad0cd42cfd$</string>
            <key>textureFileName</key>
            <string>button_blue.png</string>
        </dict>
    </dict>
</plist>
