<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pawn_Blue-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{69,455},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-35}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{195,1},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{65,517},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{193,507},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{177,125},{68,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,597},{68,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{115,1},{68,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-30}</string>
                <key>spriteSize</key>
                <string>{94,68}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,59},{94,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-35}</string>
                <key>spriteSize</key>
                <string>{92,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,233},{92,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-34}</string>
                <key>spriteSize</key>
                <string>{78,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{97,71},{78,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,30}</string>
                <key>spriteSize</key>
                <string>{84,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,511},{84,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,31}</string>
                <key>spriteSize</key>
                <string>{90,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,327},{90,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-35}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{195,63},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,31}</string>
                <key>spriteSize</key>
                <string>{90,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,419},{90,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,27}</string>
                <key>spriteSize</key>
                <string>{112,56}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,28}</string>
                <key>spriteSize</key>
                <string>{102,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,129},{102,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,25}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{61,133},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{71,581},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-34}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{193,259},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-34}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{193,321},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{133,579},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pawn_Blue-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{193,383},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{193,445},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{61,267},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,30}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{127,203},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,30}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{131,327},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{193,567},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,30}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{131,391},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,30}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{193,195},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{193,627},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{131,455},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{129,517},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,30}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{69,327},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,30}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{69,391},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{123,267},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pawn_Blue-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,30}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{61,203},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blue.png</string>
            <key>size</key>
            <string>{254,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cfaefd8ad755e1189c8a0d3bba3fc8d:c825d4d57c84ab23bddd94b74e660c95:06e17f1fdf634a552aa2320423342f7a$</string>
            <key>textureFileName</key>
            <string>blue.png</string>
        </dict>
    </dict>
</plist>
