<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoldMine_Active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMine_Destroyed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{166,98}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,245},{166,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMine_Inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{172,116}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{1,127},{172,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gold_mine.png</string>
            <key>size</key>
            <string>{174,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c009296706e76ecdcfd3fd75df4ecef3:bbc5c5535857a37cbe1a9b932b87c3a5:57b4882af7e33c7135e6b741d138dc43$</string>
            <key>textureFileName</key>
            <string>gold_mine.png</string>
        </dict>
    </dict>
</plist>
