<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Warrior_Blue-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{413,1},{80,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,65},{80,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,403},{92,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{389,165},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{74,110}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{301,1},{74,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{74,114}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{97,75},{74,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{74,114}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{213,77},{74,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,15}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{245,821},{110,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,3}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{331,423},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,5}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{99,411},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,5}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,229},{84,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,5}</string>
                <key>spriteSize</key>
                <string>{86,92}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{293,243},{86,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{82,92}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{203,153},{82,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,5}</string>
                <key>spriteSize</key>
                <string>{86,92}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,315},{86,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{123,717},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,7}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,601},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{193,321},{88,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{80,104}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{97,151},{80,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{285,335},{86,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{393,335},{86,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{123,933},{120,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{203,423},{92,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{68,102}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{99,1},{68,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{297,159},{82,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,7}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{95,233},{82,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,7}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{387,249},{84,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,7}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{95,317},{84,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-9}</string>
                <key>spriteSize</key>
                <string>{148,120}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{265,933},{148,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-8}</string>
                <key>spriteSize</key>
                <string>{118,120}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,909},{118,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,7}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{127,613},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{120,102}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,699},{120,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,11}</string>
                <key>spriteSize</key>
                <string>{120,104}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,803},{120,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,11}</string>
                <key>spriteSize</key>
                <string>{120,104}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{123,821},{120,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{138,110}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{361,821},{138,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{413,83},{80,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,15}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{231,615},{100,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8}</string>
                <key>spriteSize</key>
                <string>{82,98}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{193,237},{82,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,6}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{99,505},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,6}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{201,517},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,6}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{305,519},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,11}</string>
                <key>spriteSize</key>
                <string>{162,102}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{251,717},{162,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,10}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{343,615},{128,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_Blue-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{409,519},{94,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,147},{80,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{203,1},{72,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{329,77},{80,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior_Blue-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,497},{98,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blue.png</string>
            <key>size</key>
            <string>{508,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bb0ea872079ffdedcf77d69aa6385f6:844a0d9414ca49db8e3f6f970a98e1d7:06e17f1fdf634a552aa2320423342f7a$</string>
            <key>textureFileName</key>
            <string>blue.png</string>
        </dict>
    </dict>
</plist>
