<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Castle_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{298,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Castle_Construction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-65}</string>
                <key>spriteSize</key>
                <string>{290,110}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{1201,123},{290,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Castle_Destroyed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-67}</string>
                <key>spriteSize</key>
                <string>{320,120}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{1201,1},{320,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Castle_Purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{298,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{301,1},{298,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Castle_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{298,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{601,1},{298,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Castle_Yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{298,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{901,1},{298,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>castle.png</string>
            <key>size</key>
            <string>{1522,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e8466705f345dc34c4e5447448e013:0e3cfb312e9f05b77e8acfd94de492a6:eaff16b60c4efa6c104c179179e9a5b0$</string>
            <key>textureFileName</key>
            <string>castle.png</string>
        </dict>
    </dict>
</plist>
